
<span class="headline-logo">会員情報の編集</span>

  <%= form_for(@customer, url: customer_customers_path, method: :put ) do |f| %>
    <% @customer.errors.full_messages.each do |message| %>
    <li><%= message %></li>
      <% end %>

      <table class="registration_form">
          <tr>
            <td><%= f.label :名前 %></td>
            <td><%= f.label :（姓） %></td>
            <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></td>
            <td></td>
            <td><%= f.label :（名） %></td>
            <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
          </tr>
          <tr>
            <td><%= f.label :フリガナ %></td>
            <td><%= f.label :（セイ） %></td>
            <td><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %></td>
            <td></td>
            <td><%= f.label :（メイ） %></td>
            <td><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %></td>
          </tr>
           <tr>
            <td><%= f.label :メールアドレス %></td>
            <td></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
           <tr>
            <td><%= f.label :郵便番号（ハイフンなし） %></td>
            <td></td>
            <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></td>
          </tr>
           <tr>
            <td><%= f.label :住所 %></td>
            <td></td>
            <td colspan="5"><%= f.text_field :address, autofocus: true, autocomplete: "address", :size=>"60" %></td>
          </tr>
           <tr>
            <td><%= f.label :電話番号（ハイフンなし） %></td>
            <td></td>
            <td><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2"><%= f.submit "編集内容を保存する", class: "btn btn-primary" %></td>
            <td></td>
            <td></td>
            <td><%= link_to "退会する", customer_customers_withdraw_path, class: "btn btn-danger" %></td>
          </tr>
      </table>

  <% end %>


