<div class="container">
    <span class="headline-confirm">注文情報確認</span>
    <div class="row">
        <div class="col-xs-7">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>商品名</td>
                        <td>単価（税込）</td>
                        <td>数量</td>
                        <td>小計</td>
                    </tr>
                </thead>
                <tbody>
                    <% @total = 0 %>
                    <% @cart.each do |cart| %>
                        <% @tanka = cart.product.nontax * 1.1 %>
                        <% @total += @tanka * cart.quantity %>
                        <tr>
                            <td><%= cart.product.product_name %></td>
                            <td><%= @tanka.round.to_s(:delimited) %></td>
                            <td><%= cart.quantity %></td>
                            <td><%= (@tanka * cart.quantity).round.to_s(:delimited) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <div class="col-xs-3">
            <table class="table table-bordered">
                <tr>
                    <td>送料<td>
                    <td><%= @order.shipping_cost %><td>
                </tr>
                <tr>
                    <td>商品合計<td>
                    <td><%= @total.round.to_s(:delimited) %><td>
                </tr>
                <tr>
                    <td>請求金額<td>
                    <td><%= (@total + @order.shipping_cost).round.to_s(:delimited) %><td>
                </tr>
            </table>
        </div>
        <div class="col-xs-2"></div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <ul>
                <li><span class="titlw">支払方法</span></li>
                <li><%= @order.payment_method %></li>
            </ul>
            <ul>
                <li><span class="titlw">お届け先</span></li>
                <li><%= @order.full_ordered%></li>
            </ul>
        </div>
        <div class="col-xs-4">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
        <%= form_for @order,url:customer_orders_path do |f| %>
            <%= f.hidden_field :ordered_postal_code, :value => @order.ordered_postal_code %>
            <%= f.hidden_field :ordered_address, :value => @order.ordered_address %>
            <%= f.hidden_field :address_name, :value => @order.address_name %>
            <%= f.hidden_field :shipping_cost, :value => @order.shipping_cost %>
            <%= f.hidden_field :total_price, :value => @total %>
            <%= f.hidden_field :payment_method, :value => @order.payment_method %>
            <%= f.hidden_field :order_status, :value => @order.order_status %>
            <%= f.hidden_field :customer_id, :value => current_customer.id %>
            <%= f.submit '注文確定'%>
        <% end %>
        </div>
        <div class="col-xs-4"></div>
    </div>
</div>