<div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <table class="table table-hover" style="width: 700px;  height: 50px;">
      	<thead>
	      <tr class="active">
	        <th style="border:none; text-align: left">会員ID</th>
	      	<th style="border:none; text-align: left">氏名</th>
	      	<th style="border:none; text-align: left">メールアドレス</th>
	      	<th style="border:none; text-align: left">ステータス</th>
	      </tr>
	    </thead>
	    <tbody style="background-color: white;">
	      <% customers.each do |customer| %>
	      <tr>
	      	<td><%= customer.id %></td>
	      	<td style="text-decoration: underline;">
	      		<%= link_to (admin_customer_path(customer.id)) do %>
	      		<%= customer.first_name %> <%= customer.last_name %>
	      		<% end %>
	      	</td>
	      	<td><%= customer.email %></td>
	      	<% if customer.customer_status == "有効" %>
	      	<td>有効</td>
	      	<% else %>
	      	<td>退会済</td>
	      	<% end %>
	      </tr>
	      <% end %>
      	</tbody>
      </table>
	      <div  class="col-xs-offset-4 col-xs-4"><%= paginate customers %></div>
    </div>
  </div>