<div class="row">
  <div class="forget-password">
    <div class="col-xs-6 col-md-offset-3">
      <h3>パスワードを変更する</h3>
    </div>
  </div>

  <div class="change-password-form">
    <div class="col-xs-8 col-md-offset-5">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>
          <p><%= f.label :password, "新しいパスワード" %>
          <% if @minimum_password_length %>
          (<%= @minimum_password_length %> 文字以上)</p>
          <% end %>
          <p><%= f.password_field :password, autofocus: true, autocomplete: "new-password" %></p>
          <p><%= f.label :password_confirmation, "新しいパスワード（確認）" %></p>
          <p><%= f.password_field :password_confirmation, autocomplete: "new-password", :size=>"20" %></p>
    </div>

    <div class="col-xs-3 col-md-offset-5">
        <p><%= f.submit "変更",:class=>"form_login_btn col-xs-4" %></p>
        <% end %>
    </div>
  </div>

</div>
