<%= devise_error_messages! %>

<div class="row">
	<div class="forget-password">
		<div class="col-xs-6 col-md-offset-3">
			<h3>パスワードを忘れてしまった方へ</h3>
			<p>以下の欄に登録したメールアドレスをご入力ください。<br>
			パスワード再設定について、メールでご連絡いたします。</p>
		</div>
	</div>

	<div class="forget-password-form">
		<div class="col-xs-6 col-md-offset-4">
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    			<%= f.label :メールアドレス %><br />
        		<p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
				<p><%= f.submit "パスワード再設定メールを送る",:class=>"form_login_btn col-xs-6" %></p>
    		<% end %>
		</div>
	</div>

	<div class="forget-password-menu">
  		<div class="col-xs-6 col-md-offset-4">
			<%= render "customers/shared/links" %>
  		</div>
	</div>
</div>