<div class="container">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<h3><span>　注文履歴一覧　</span></h3><br><br>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
		<table class = "table table-hover table-inverse">
			<thead>
				<tr class="active">
					<th>購入日</th>
					<th>購入者</th>
					<th>注文個数</th>
					<th>注文ステータス</th>
				</tr>
			</thead>
			<tbody style="background-color: rgba(255, 255, 255, 0.3);">
				<% @orders.each do |order| %>
					<tr>
						<td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order) %></td>
						<td><%= order.customer.first_name %><%= order.customer.last_name %></td>
						<% @totalquantity = 0 %>
						<% order.ordered_products.each do |ordered_product| %>
  	 						<% @totalquantity += ordered_product.quantity %>
  						<% end %>
  						<td><%= @totalquantity %></td>
						<td><%= order.order_status %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
		<div class="col-xs-offset-5 col-xs-6"><%= paginate @orders %></div>
	</div>
</div>
