<div class="col-xs-9">
		<div class="#">
            <h2><%= genre.genre_name %>一覧</h2>
            <div class="product-list clearfix">
                <%# 実装用 %>
                <% products.each do |product| %>
                    <%# <% if product.genre.genre_status == 0 %>
                        <%= link_to customer_product_path(product.id) do %>
                            <ul class="product-box" style="width: 230px; height: 250px; margin-bottom: 20px;">
                                <li><%= attachment_image_tag(product, :image, fallback: "no_image.jpg", size: "210x210") %></li>
                                <li><%= product.product_name %></li>
                                <li>¥ <%= taxprice = (product.nontax * 1.1).round.to_s(:delimited) %></li>
                            </ul>
                        <% end %>
                    <%# <% end %>
                <% end %>
            </div>
        </div>
        <div class="pagination">
		    <%= paginate @products %>
        </div>
	</div>
</div>