<%# 商品一覧ページ（会員側） %>
<div class="row">
	<div class="col-xs-3">
    <%= render 'layouts/searchform', genres: @genres %>
	</div>

	<div class="col-xs-9">
		<div class="#">
			<h2>商品一覧</h2>
            <div class="main-box clearfix">
                <%# 実装用 %>
                <% @products.each do |product| %>
                    <div class="product-box">
                        <%= attachment_image_tag(product, :image, fallback: "no_image.jpg", size: "210x210") %>
                        <p><%= link_to product.product_name, customer_product_path(product.id) %></p>
                        <p>￥<%= taxprice = (product.nontax * 1.1).round %></p>
                    </div>
                <% end %>
            </div>
		</div>
        <div class="pagination">
		    <%= paginate @products %>
        </div>
	</div>
</div>

<i class="fa fa-home fa-5x"></i>