<%# 商品一覧ページ（会員側） %>
<div class="row">
	<div class="col-xs-3">
    <%= render 'layouts/searchform', genres: @genres %>
	</div>

	<div class="col-xs-9">
		<div class="#">
			<h2>商品一覧</h2>
            <div class="product-list clearfix">
                <%# 実装用 %>
                <% @products.each do |product| %>
                <%= link_to customer_product_path(product.id) do %>
                    <ul class="product-box" style="width: 230px; height: 250px; margin-bottom: 20px;">
                        <li><%= attachment_image_tag(product, :image, fallback: "no_image.jpg", size: "210x210") %></li>
                        <li><%= product.product_name %></li>
                        <li>¥ <%= taxprice = (product.nontax * 1.1).round.to_s(:delimited) %></li>
                    </ul>
                <% end %>
                <% end %>
            </div>
		</div>
        <div class="pagination">
		    <%= paginate @products %>
        </div>
	</div>
</div>