<%# 商品の詳細ページ（会員側） %>
<div class="row">
	<div class="col-xs-3">
    <%= render 'layouts/searchform', genres: @genres %>
	</div>

	<div class="col-xs-4">
		<div class="product-box-left">
            <%= attachment_image_tag(@product, :image, fallback: "no_image.jpg", size: "350x300") %>
		</div>
	</div>
    <div class="col-xs-5">
        <div class="product-box-right">
            <h2><%= @product.product_name %></h2>
            <div class="product-introduction">
                <%= @product.explanation %>
            </div>
            <br>
            <p><span class=product-price>¥ <%= @product.nontax.to_s(:delimited) %></span>（税込）</p>
            <br>
            <%# 商品の数量選択プルダウン %>
            <%= form_for @quantity,url:customer_cart_items_path do |f| %>
                <%= f.hidden_field :product_id, :value => @product.id %>
                <%= f.select :quantity, [["1",1], ["2",2]], include_blank: "個数選択" %>
                <%= f.submit 'カートに入れる'%>
            <% end %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-9 col-xs-offset-3">
        <div class="comment">
            <h4>コメントフォーム</h4>
            <div class="comment-form form-inline">
                <%= form_with model: [@product,@product_comment], url: customer_product_comments_path(@product.id), remote: true do |f| %>
                <% if @product_comment.errors.any? %>
                    <h5><%= @product_comment.errors.count %>error occurrence</h5>
                    <ul>
                        <% @product_comment.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    </ul>
                <% end %>
                <%= f.text_field :comment, placeholder: "100字以内でコメントをお待ちしています！", class: "form-control", style: "width: 900px;" %>
                <%= f.submit "送信" %>
                <% end %>
            </div>
            <div id="comment-body_<%= @product.id %>">
                <%= render partial: 'customer/comments/comment', locals: {product_comments: @product_comments, product: @product} %>
            </div>
        </div>
    </div>
</div>