<div class="container">
	<div class="row">
	<div class="col-xs-offset-1 col-xs-10">
		<h3><span style="background-color:gainsboro">　ジャンル編集　</span></h3><br><br>
	</div>
	</div>

	<div class="row">
		<div class="col-xs-5">
			<div class="radio-inline">
				ジャンル<%= form_for @genre,url:admin_genre_path(@genre) do |f| %>
			</div>
				<%= f.text_field :genre_name %>
				<%= f.radio_button :genre_status, :有効, checked: "checked" %>
				<%= f.label :有効 %>
    			<%= f.radio_button :genre_status, :無効 %>
    			<%= f.label :無効 %>
    			<%= f.submit '変更を保存する', class: "btn btn-primary" %>
    			<% end %>
    	</div>
	</div>