<div class="container">
	<div class="row">
		<div class="col-xs-offset-2 col-xs-8">
			<h3><span style="background-color:gainsboro">　商品新規登録　</h3></span><br><br>
	</div>

	<div class="row">
		<%= form_for @product,url:admin_products_path do |product| %>
			<div class="col-xs-4">
				<%= product.attachment_field :image %>
			</div>
			<div class="col-xs-5">
							<p>商品名　　　<%= product.text_field :product_name %></p>
							<p>商品説明　　<%= product.text_area :explanation, size: "20x10" %></p>
							<p>ジャンル　　<%= product.collection_select :genre_id, Genre.all, :id, :genre_name, include_blank: "選択して下さい" %></p>
							<p>税抜価格　　<%= product.text_field :nontax %>円</p>
							<p>販売<br>ステータス　<%= product.select  :sales_status, [["販売中", "販売中"],["売切れ","売切れ"]], include_blank: "選択して下さい" %></p>
			</div>
	<div class="row">
		<div class="col-xs-2 col-xs-offset-10">
		<%= product.submit '新規作成', class: "btn btn-primary btn-lg btn-block" %>
	</div>
		<% end %>

