<div class="container">
	<div class="row">
		<h1>商品新規登録</h1>
	</div>

	<div class="row">
		<%= form_for @product,url:admin_products_path do |product| %>
			<div class="col-xs-4">
				<%= product.attachment_field :image,　format: 'jpeg', size: "100x100" %>
			</div>
			<div class="col-xs-4">
				<span>商品名</span><%= product.text_field :product_name %>
				<span>商品説明</span><%= product.text_area :explanation, size: "20x10" %>
				
				<span>税抜価格</span><%= product.text_field :nontax %>円
				<span>販売ステータス</span><%= product.select  :sales_status, [["販売中", "販売中"],["売切れ","売切れ"]], include_blank: "選択して下さい" %>
			</div>
			<div class="col-xs-offset4"></div>
	<div class="row">
		<%= product.submit '新規作成', class: "btn btn-primary btn-lg btn-block" %>
	</div>
		<% end %>

