
  <table class="cart-table table-bordered">
    <h4>ショッピングカート</h4>
    <%= link_to "カートを空にする", root_path, class: "btn btn-danger pull" %>
      <thead>
        <tr>
          <th class="col-xs-4">商品名</th>
          <th class="col-xs-2">単価(税抜)</th>
          <th class="col-xs-2">数量</th>
          <th class="col-xs-2">小計</th>
          <th class="col-xs-2"></th>
        </tr>
      </thead>
      <tbody>
           <tr>
             <td><%= "商品画像" %><%= "商品名" %></td>  
             <td><%= "商品名" %></td>
             <td><span>ボタン</span><%= link_to '編集', root_path, method: :delete, class: "btn btn-primary" %></td>
             <td><%= "計算" %></td>
             <td><%= link_to '削除する', root_path, method: :delete, class: "btn btn-danger" %></td>
           </tr>
           <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>合計金額</td>
            <td>金額</td>
          </tr>
      </tbody>
      <tfoot>
        <td>
          <%= link_to "情報入力に進む", root_path, class: "btn btn-primary" %></td>
      </tfoot>
  </table>
